content {
    max-width: 1000px;
    margin: auto;
}

header {
    padding:0;
    margin: 0;
    display:contents;
    position: relative;
    overflow-y: hidden;   
}

div#box1 {
    margin-top: 3%;
    margin-left: 3%;
    margin-right:3%;
}

.menuelist {
    color: #3B240B;
    font-family: Avenir; 
    font-style: italic;
    font-size: 19px; 
    text-decoration: none;
    display: block;
    padding: 3px;
}

.visited {
    font-weight:bold;
    color: #3B240B;
    font-family: Avenir; 
    font-style: italic;
    font-size: 19px; 
    text-decoration: none;
    display: block;
    padding: 3px;
}


.footer {
        background-color: #382C27;
        font-family: Avenir; 
        font-size: 9pt; 
        font-weight: lighter;
        display: flex;
        justify-content: center;   /* horizontal Zentrierung */
        align-items: center;       /* vertikal Zentrierung*/
        text-align: center;
        color: white;
        height: 100px;             /* wichtig für vertikale Zentrierung */
        margin: 0;
 }

 /* CSS für Eingabe */
.ef {
        display: flex;
        margin-top: 7%;
        margin-bottom: 12px;
        margin-left: 21%;          /* gesamte Einrückung */
    }

.label {
        width: 150px;               /* alle Beschriftungen sollen gleich breit sein */
        padding-left: 10px;         /* Einrückung label */
        font-weight: bold;
    }

.input {
        margin-left: 27px;          /* weiter eingerückt als Label */
        width: 160px;               /* Eingabefelder sollen gleich breit sein */
    }

.button {
        padding-left: 10px;         /* Feld ausrichtung */
        padding: 6px 15px;
    }

/* CSS für Tabelle */
.anzeige-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.anzeige-table th { /* Tabellenkopf */
    background: rgb(23, 23, 50);
    color: white;
    padding: 10px;
    text-align: left;
}

.anzeige-table td { /* Tabellendaten */
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}

.anzeige-table tr:nth-child(even) td { /* Abwechselnde Zeilenfarbe */
    background: #d5a8c5; 
}