
* {
    font-family: 'Nunito', sans-serif;
}

content {
    max-width: 1000px;
    margin: auto;
}

header {
    padding:0;
    margin: 0;
    position: relative;
    overflow-y: hidden;   
}

h1 {
    text-align: right;
    width: 100%;
    color: #382C27;
}

div#box1 {
    margin: clamp(10px, 3vw, 40px) auto 0;
}

.menuelist {
    color: #382C27;
    font-style: italic;
    font-size: 19px; 
    text-decoration: none;
    display: block;
    padding: 3px;
}

.visited {
    font-weight:bold;
    color: #382C27;
    font-style: italic;
    font-size: 19px; 
    text-decoration: none;
    display: block;
    padding: 3px;
}

.footer {
    background-color: #382C27;
    font-size: 9pt; 
    font-weight: lighter;
    display: flex;
    justify-content: center;   /* horizontal Zentrierung */
    align-items: center;       /* vertikal Zentrierung*/
    text-align: center;
    color: white;
    height: 100px;             /* wichtig für vertikale Zentrierung */
    margin-top: clamp(90px, 5vw, 60px);
}

/* CSS für Eingabe */
/* Allgemeiner Wrapper mit gutem Abstand */

div#wrapper {
    margin: clamp(90px, 5vw, 90px) auto 0;
    width: fit-content;  /* passt sich so gross an wie der Inhalt ist */
    max-width: 90vw; /* Verhindert, dass es auf kleinen Screens überläuft */
}

h2 {
    margin-bottom: 40px;
    font-size: 19px; 
    font-weight: 700; /* 400 ist normal */
    color: #382C27;   
}

.ef {
    display: flex;
    align-items: center;
    gap: 15px;            /* gleicher Abstand zwischen Label und Input */
    margin-bottom: 14px;  /* Abstand zwischen den Reihen */
}

label {
    width: 150px;
    font-style: italic;
    font-size: 17px; 
    font-weight:normal; 
    color: #382C27; 
}

input {
    width: 120px;
    padding: 4px 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
    color: #382C27;
}

.submit-btn {
    display: block;        
    margin: 90px auto 30px;    /* auto = zentriert */
    padding: 12px 32px;     /* Buttongrösse */
    font-size: 17px;
    font-style: italic;
    color: white;         /* Schriftfarbe */
    background-color: #382C27;
    border: 2px solid #382C27;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.submit-btn:hover {
    transform: scale(1.05);
}


/* CSS für Tabelle */
.anzeige-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.anzeige-table th { /* Tabellenkopf */
    background: rgb(85,95,95);
    color: white;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.anzeige-table td { /* Tabellendaten */
    padding: 6px 8px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.anzeige-table tr:nth-child(even) td { /* Abwechselnde Zeilenfarbe */
    background: rgb(238,222,188); 
}

